In [1]:
import pandas as pd
import googlemaps
import json 
import requests
from bs4 import BeautifulSoup
import gmplot

In [2]:
df = pd.read_excel('Data.xlsx')
df.head(10)

,Address,Unnamed: 1,10 restaurants,5 event,1 confrenece
0,"Porto Alegre St, Indianapolis, IN 46202",NaN,NaN,NaN,NaN
1,"Winthrop Ave, Indianapolis, IN 46220",NaN,NaN,NaN,NaN
2,"E Cedar St , Zionsville, IN 46077",NaN,NaN,NaN,NaN
3,"Visionary Way, Fishers, IN 46038",NaN,NaN,NaN,NaN
4,"Massachusetts Ave, Indianapolis, IN 46204",NaN,NaN,NaN,NaN
5,"S Meridian St, Indianapolis, IN 46225",NaN,NaN,NaN,NaN

In [3]:
KEY='AIzaSyC8K5I3NOfZG9n0TaICd1_lCEFPsVAq8ao'
gmaps = googlemaps.Client(key=KEY)
restaurant_data = pd.DataFrame()

def get_restaurant_data(location, gmaps, KEY): #function that uses NearBy Google Maps API to find the restaurants in the area
     
    geocode_result = gmaps.geocode(location)
    geocode_result = json.dumps(geocode_result) 
    geo_location = pd.read_json(geocode_result)
    lat_lng = geo_location['geometry'].apply(pd.Series)['location']
    location_lat_long = f'{lat_lng[0]["lat"]}%2C{lat_lng[0]["lng"]}'
    r=requests.get( f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={location_lat_long}&radius=1500&type=restaurant&key={KEY}")
    json_data = json.loads(r.text)
    restaurants = pd.DataFrame(json_data['results'])
    restaurants['initial location'] = location
    restaurants = restaurants[restaurants['business_status'] == 'OPERATIONAL'].sort_values(by='rating', ascending = False) #ordering by rating
    return restaurants.head(20) #returning top 20 restaurnats with best rating


for i in range(1,len(df)):
    location = df.iloc[i]['Address']
    out = get_restaurant_data(location,gmaps, KEY)
    restaurant_data = pd.concat([restaurant_data, out], ignore_index=True, sort = True)
restaurant_data    
restaurant_data.drop(columns=['icon','icon_background_color','icon_mask_base_uri','photos','place_id',
                            'plus_code','reference','scope','user_ratings_total','opening_hours','business_status'], inplace=True)
restaurant_data = restaurant_data.sort_values(by='rating', ascending = False).reset_index()

In [4]:
gmap = gmplot.GoogleMapPlotter(39.7684, -86.1581, 12, apikey=KEY)

In [5]:
for i in range(len(df)):
    address = df.iloc[i]['Address']
    g = gmaps.geocode(address)
    lat = g[0]["geometry"]["location"]["lat"]
    long = g[0]["geometry"]["location"]["lng"]
    if i==0:
        gmap.marker(lat, long, color = 'yellow',label = 'A')
    else:
        gmap.marker(lat, long, color = 'red',label =str(i))
    
for i in range(len(restaurant_data.head(30))):
    lat = restaurant_data.iloc[i]['geometry']['location']['lat']
    long = restaurant_data.iloc[i]['geometry']['location']['lng']
    gmap.marker(lat, long, color = 'blue',label =str('R'))

In [6]:
URL = "https://www.visitindy.com/indianapolis-things-to-do-events"

event_details = pd.DataFrame(columns=['name','location','date','time'])


for i in [1,2,3,4,5]:
#     URL = f"https://www.visitindy.com/indianapolis-things-to-do-events?page={i}"
    payload = {'page': i,'search_whattodo_from': '06/07/2022','search_whattodo_to': '08/15/2022'}

    page = requests.post(URL, data=payload) #, data = payload

    soup = BeautifulSoup(page.content, "html.parser")
    events = soup.find_all("div", class_ = "list-grid-item")


    for event in events:
        try:
#             print(i)
#             sleep(2)
            name = event.find("h3").find("a").text
            location = event.find("p", class_= "styled").text
            date = event.find("div", class_="list-info").text
            time = event.find("div", class_="list-info mb-2").text
#             print(name)
#             print(location)
#             print(date)
#             print(time)
#             print(i)
            row = {'name': name,'location':location,"date":date,'time':time}
            event_details = event_details.append(row, ignore_index=True)
        except:
            continue
            
event_details=event_details.drop(index =[0,5] )

In [7]:
for i in range(len(event_details)):
    address = event_details.iloc[i]['location']
    try:
        g = gmaps.geocode(address)
        lat = g[0]["geometry"]["location"]["lat"]
        long = g[0]["geometry"]["location"]["lng"]
        gmap.marker(lat, long, color = 'green',label = 'E')
    except:
        continue

In [8]:
gmap.draw('map.html')

In [9]:
calendar = pd.DataFrame(columns = ['week', 'event_type','event_name'])

In [10]:

for i in range (1,11):
    r = restaurant_data.iloc[i]
    
    calendar=calendar.append({'week': i , 'event_type': 'team meal', 'event_name': r['name']}, ignore_index=True)
    if i%2 == 0:
        j=int(i/2)
        e = event_details.iloc[j]
        calendar=calendar.append({'week': i , 'event_type': 'event', 'event_name':e['name'] }, ignore_index=True)
    


calendar

   week event_type                                         event_name
0     1  team meal                                               Yats
1     2  team meal                                The Friendly Tavern
2     2      event              Tedeschi Trucks Band - Wheels of Soul
3     3  team meal                                             Sub 16
4     4  team meal                            Thai Recipes Restaurant
5     4      event       Barenaked Ladies - Last Summer on Earth Tour
6     5  team meal      Convivio Italian Artisan Cuisine - Zionsville
7     6  team meal                                     Mama Carolla's
8     6      event  Santana and Earth, Wind & Fire - Miraculous Su...
9     7  team meal                                         Twenty Tap
10    8  team meal                                   The Jazz Kitchen
11    8      event                            The Basement in 30 Tour
12    9  team meal                            Another Broken Egg Cafe
13   10  team meal                               Chatham Tap Mass Ave
14   10      event  Mind Tripping Show - A Comedy with a Psycholog...

In [18]:
calendar.to_csv('calendar.csv')

In [11]:
event_details

,name,location,date,time
1,Antony and Cleopatra,"3 Center Green Carmel, IN 46032","Date: June 9-11, 2022",Time: 7:00 PM
2,Tedeschi Trucks Band - Wheels of Soul,"801 W. Washington St. Indianapolis, IN 46204","Date: June 28, 2022",Time: 6:30 PM
3,Barenaked Ladies - Last Summer on Earth Tour,"801 W. Washington St. Indianapolis, IN 46204","Date: July 1, 2022",Time: 7:00 PM
4,"Santana and Earth, Wind & Fire - Miraculous Su...",800-745-3000,"Date: July 8, 2022",Time: 7:00 PM
6,The Basement in 30 Tour,317-492-6784,"Date: October 17, 2021-December 31, 2022",Time: 10:00 AM
7,Mind Tripping Show - A Comedy with a Psycholog...,"120 W. Market St. Indianapolis, IN 46204","Date: October 22, 2021-December 31, 2022",Time: 8:00 PM

In [13]:
event_details.to_csv('events.csv')

In [14]:
restaurant_data = restaurant_data.head(10).drop(columns=['initial location', 'index', 'geometry'])

In [16]:
restaurant_data.to_csv('restaurants.csv')

,Unnamed: 0,name,price_level,rating,types,vicinity
0,0,The Spot Nutrition,NaN,5.0,"['restaurant', 'food', 'point_of_interest', 'e...","4202 South Meridian Street Suite E, Indianapolis"
1,1,Yats,1.0,4.8,"['restaurant', 'food', 'point_of_interest', 'e...","5363 North College Avenue, Indianapolis"
2,2,The Friendly Tavern,2.0,4.7,"['bar', 'restaurant', 'food', 'point_of_intere...","290 South Main Street, Zionsville"
3,3,Sub 16,1.0,4.7,"['restaurant', 'food', 'point_of_interest', 'e...","640 South Main Street #300, Zionsville"
4,4,Thai Recipes Restaurant,2.0,4.7,"['restaurant', 'food', 'point_of_interest', 'e...","404 Thompson Road g2, Indianapolis"
5,5,Convivio Italian Artisan Cuisine - Zionsville,2.0,4.7,"['restaurant', 'food', 'point_of_interest', 'e...","40 South Main Street, Zionsville"
6,6,Mama Carolla's,2.0,4.7,"['restaurant', 'food', 'point_of_interest', 'e...","1031 East 54th Street, Indianapolis"
7,7,Twenty Tap,2.0,4.7,"['bar', 'liquor_store', 'restaurant', 'food', ...","5406-08 North College Avenue, Indianapolis"
8,8,The Jazz Kitchen,2.0,4.7,"['bar', 'restaurant', 'food', 'point_of_intere...","5377 North College Avenue, Indianapolis"
9,9,Another Broken Egg Cafe,2.0,4.6,"['cafe', 'restaurant', 'food', 'point_of_inter...","8626 East 116th Street #175, Fishers"